.card-render {
    background-color: purple;
    position: absolute;
    top: 0;
}

.card {
    position: absolute;
    width: 100px;
    height: 150px;
    padding: 0.3%;
    top: 500px;
    left: 0;
    transition-duration: 4s;
}

.card-content {

}