

/* #progress
{
    position: absolute;
    top: 50%;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 150%;
    margin-top: 0;
    width: 100%;
    opacity: 0.5;

    animation: fadeOutProgress ease 5s;
    -webkit-animation: fadeOutProgress ease 5s linear forwards;
    -moz-animation: fadeOutProgress ease 5s linear forwards;
    -o-animation: fadeOutProgress ease 5s linear forwards;
    -ms-animation: fadeOutProgress ease 5s linear forwards;
}

.btn btn-primary {
    pointer-events: none;
} */
#progress {
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    width: 100%;
    height: 5%;
}

.help {
    width: 4%;
    height: 103%;
    padding-top: 0.5%;
    background-color: #ccc;
    font-size: 90%;
    border: 0 solid black;
    border-radius: 50%;
    box-shadow: 2px 2px;
    color: #fff;
    transition: 0.2s;
    cursor: help;
    /* margin: auto; */
}

.help-content {
    display: block;
    margin: auto;
    margin-left:5%;
    left: -15px;
    font-size: 150%;
    z-index: 10;
    background-color: #adffed;
    text-align: left;
}

.help-content-triangle{
  content: '';
  position: relative;
  display: block;
  width: 0;
  left: -90%;
  height: 0;
  border-right: 15px solid #adffed;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


.help:hover {
    background-color: #aaa;
}

.help:hover + .help-content {
    display: block;
}

/* .help + .help-content {
    display: block;
} */
