.role-wrapper
{
    /* margin: 0; */
    /* padding-right: 13%; */
    position: absolute;
    right: 0.7%;
    bottom: 7%;
    /* margin-top: 50%; */
    height: 20%; 
    width: 14%; 
    background-color: gray;
    border: solid 3px #6091d3;/*線*/
    border-radius: 20px;/*角の丸み*/
}

.role-figure{
    /* border: solid 3px #6091d3;線 */
    margin-left:5%;
    margin-right:5%;
}

.text
{
    /* position: absolute; */
    text-align: center;
    font-weight: 900;
    color: aliceblue;
}
